In [47]:
# !pip install python-dotenv
# %pip install pymongo

In [48]:
from dotenv import load_dotenv
import os
import pandas as pd

load_dotenv()

db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASS")

conn = f"mongodb+srv://{db_user}:{db_password}@cluster0.lv4geon.mongodb.net/"

In [49]:
from pymongo import MongoClient

client = MongoClient(conn)

databases = client.list_database_names()

print("Bases de datos disponibles:")
for db in databases:
    print("-", db)

c:\Users\Jose Gómez\anaconda3\Lib\site-packages\pymongo\pyopenssl_context.py:348: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280. Loading this certificate will cause an exception in the next release of cryptography.
  _crypto.X509.from_cryptography(x509.load_der_x509_certificate(cert))

Bases de datos disponibles:
- feb_db
- iabd2526
- admin
- local

In [50]:
feb_db = client['feb_db']

shots = feb_db.get_collection('FEB3_players_shots')
print(shots.count_documents({})) # Comprovem el nombre de documents a la col·leccio

# Al tenir-ne 1M+ documents agafarem per provar els primers 10.000
df_shots = pd.DataFrame(list(shots.find().limit(10000)))
# main_df = pd.DataFrame(shots)
df_shots.head()

1170944

,player_feb_id,player_number,team,team_feb_id,team_name,quarter,time,made,x,y,...,suphase_feb_name,round_feb_name2,competion_feb_id,subphase_feb_id,round_feb_id,round_feb_name1,match_feb_id,data,hora,type
0,1353377,4,V,979777,UNIVERSIDAD DEUSTO LOIOLA INDAUTXU,1,01:09,False,63.802443,50.666519,...,suphase_feb_name,None,3,None,662643,Jornada 1(05/10/2025),2487033,05-10-2025,18:00,3p
1,1829765,6,V,979777,UNIVERSIDAD DEUSTO LOIOLA INDAUTXU,2,09:05,False,84.032481,51.271132,...,suphase_feb_name,None,3,None,662643,Jornada 1(05/10/2025),2487033,05-10-2025,18:00,2p
2,2303404,18,V,979777,UNIVERSIDAD DEUSTO LOIOLA INDAUTXU,1,07:40,True,69.959411,17.170991,...,suphase_feb_name,None,3,None,662643,Jornada 1(05/10/2025),2487033,05-10-2025,18:00,3p
3,2108819,7,V,979777,UNIVERSIDAD DEUSTO LOIOLA INDAUTXU,1,03:54,True,90.798382,57.438176,...,suphase_feb_name,None,3,None,662643,Jornada 1(05/10/2025),2487033,05-10-2025,18:00,2p
4,1900101,1,L,983015,CONSTRUCCIONES GONZALO CRESPO PAS PIÉLAGOS,2,03:26,False,8.930988,90.691857,...,suphase_feb_name,None,3,None,662643,Jornada 1(05/10/2025),2487033,05-10-2025,18:00,3p

In [51]:
# Eliminació de columnes innecessàries
df_shots = df_shots.drop(
    columns=[
        "competion_feb_id",
        "competition_name",
        "team",
        "team_feb_id",
        "team_name",
        "player_number",
        "hora",
        "data",
        "match_feb_id",
        "round_feb_name1",
        "round_feb_name2",
        "suphase_feb_name",
        "phase_feb_name",
        "season_id",
        "subphase_feb_id",
        "phase_feb_id",
        "round_feb_id"
    ]
)

df_shots.head()

,player_feb_id,quarter,time,made,x,y,court_region,player_name,type
0,1353377,1,01:09,False,63.802443,50.666519,Ce3R,P. ALBISU ASTIGARRAGA,3p
1,1829765,2,09:05,False,84.032481,51.271132,PC,A. AZKOAGA BENDEJACQ,2p
2,2303404,1,07:40,True,69.959411,17.170991,Ce3L,G. MARTINEZ DE OSABA ANTOLIN,3p
3,2108819,1,03:54,True,90.798382,57.438176,PR,A. FERNANDEZ ORTEGA,2p
4,1900101,2,03:26,False,8.930988,90.691857,C3L,A. GOMEZ FERNANDEZ,3p

In [ ]:
# Trobar multiples dades d'un mateix jugador (1353377) per debug
player_shots = df_shots[df_shots['player_feb_id'] == "1353377"]
player_shots.head(100)

,player_feb_id,quarter,time,made,x,y,court_region,player_name,type
0,1353377,1,01:09,False,63.802443,50.666519,Ce3R,P. ALBISU ASTIGARRAGA,3p
13,1353377,3,02:35,False,25.913398,53.205889,MEL,P. ALBISU ASTIGARRAGA,2p
60,1353377,2,00:12,False,63.125853,13.422395,Ce3L,P. ALBISU ASTIGARRAGA,3p
67,1353377,3,01:43,False,9.675238,43.169325,PR,P. ALBISU ASTIGARRAGA,2p
105,1353377,2,05:42,False,88.024369,46.555153,PC,P. ALBISU ASTIGARRAGA,2p
107,1353377,4,09:49,False,31.664413,77.027618,Ce3L,P. ALBISU ASTIGARRAGA,3p
112,1353377,1,04:19,False,84.370776,40.871796,PL,P. ALBISU ASTIGARRAGA,2p
117,1353377,2,07:47,True,91.204340,56.349872,PR,P. ALBISU ASTIGARRAGA,2p
9664,1353377,1,01:40,False,31.946404,66.926749,Ce3L,P. ALBISU ASTIGARRAGA,3p
9701,1353377,2,09:51,False,24.612131,27.728597,MER,P. ALBISU ASTIGARRAGA,2p
9756,1353377,4,02:43,False,92.454163,19.283978,MBL,P. ALBISU ASTIGARRAGA,2p

In [52]:
# Comprovacio de nulls
df_shots.isnull().sum()

player_feb_id    0
quarter          0
time             0
made             0
x                0
y                0
court_region     0
player_name      0
type             0
dtype: int64

In [ ]:

# Agrupar per jugador
df_players = df_shots.groupby(['player_feb_id', 'player_name']).agg(
    total_shots=('made', 'count'),      # total tirs
    total_made=('made', 'sum')          # total d'encerts
).reset_index()

# Calcular percentatge d'encert
df_players['fg_percentage'] = df_players['total_made'] / df_players['total_shots']

df_players.head()

  player_feb_id         player_name  total_shots  total_made  fg_percentage
0       1002585   J. VARO BARBANCHO            6           3         0.5000
1       1048105    D. SOTO MADRIGAL            6           3         0.5000
2       1065612  E. MAÑES CARRETERO           16           9         0.5625
3       1068988  M. MAÑES CARRETERO           10           3         0.3000
4       1072122     R. DIAZ SANCHEZ            1           0         0.0000

In [ ]:
from sklearn.preprocessing import StandardScaler

# 1️⃣ Seleccionamos solo las columnas numéricas para escalar
features = ['total_shots', 'fg_percentage']
X = df_players[features]

# 2️⃣ Creamos el scaler y aplicamos fit_transform
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 3️⃣ Opcional: lo convertimos de nuevo a DataFrame para revisar
df_scaled = pd.DataFrame(X_scaled, columns=features)
df_scaled.head()

          0         1
0 -0.276068  0.481427
1 -0.276068  0.481427
2  1.700861  0.736223
3  0.514703 -0.333919
4 -1.264533 -1.556938

In [59]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Suponiendo X_scaled de las features total_shots y fg_percentage
kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

# Añadir el cluster al DataFrame original
df_players['cluster'] = clusters

# Comprobar calidad del clustering
score = silhouette_score(X_scaled, clusters)
print("Silhouette score:", score)

Silhouette score: 0.41734399689648194